<div class="topnav" id="myTopnav">
  <a [routerLink]="['/pages/dashboard']" [routerLinkActive]="['active']">Home</a>
  <a [routerLink]="['/pages/narrative']" [routerLinkActive]="['active']">Summary</a>
  <a [routerLink]="['/pages/person']" [routerLinkActive]="['active']">Person</a>
  <a [routerLink]="['/pages/person']" [routerLinkActive]="['active']">Document</a>
  <a [routerLink]="['/pages/person']" [routerLinkActive]="['active']">Assessment</a>
</div>