<br>
<button type="button" class="btn btn-primary" (click)="saveOfflineData()">Save Offline Data</button>
<br>
<br>
<section class="tableDivSet clearfix">
  <div class="nameTab clearfix">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th> Case No </th>
                  <th> Case Type </th>
                  <th> Custodial Party </th>
                  <th> County </th>
                  <th> Start Date </th>
                  <th> End Date </th>
                  <th> Case Status </th>
              </tr>
          </thead>

          <tbody>
              <tr *ngFor="let case of caseList">
                  <td>
                      <a [routerLink]="[case.link]" (click)="getCaseId(case.casenumber)">{{case.casenumber}}</a>
                  </td>
                  <td> {{case.casetypedescription}} </td>
                  <td> {{case.cpname}} </td>
                  <td>
                      <span *ngIf="case.countyname">
                          {{case.countyname}}
                      </span>
                      <span *ngIf="!case.countyname"> - </span>
                  </td>
                  <td>
                      <span *ngIf="case.startdate">
                          {{case.startdate | date: 'dd/MM/yyyy' }}
                      </span>
                      <span *ngIf="!case.startdate"> - </span>
                  </td>
                  <td>
                      <span *ngIf="case.enddate">
                          {{case.enddate | date: 'dd/MM/yyyy' }}
                      </span>
                      <span *ngIf="!case.enddate"> - </span>
                  </td>
                  <td> {{case.casestatuscode}} </td>
              </tr>

              <tr *ngIf="!caseList">
                <br>
                <br>
                  <td colspan="7"> No Data Found </td>
              </tr>
          </tbody>
      </table>
  </div>
</section>